
  <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <app-admin-menu></app-admin-menu>>
    </mat-drawer>
    <mat-drawer-content>
      <app-header2 (toggleSidebarForMe)="sideBarToggler()"></app-header2>
      <ng-container #componentContainer></ng-container>
      <app-admin-home *ngIf="selectedComponentService.getSelectedComponent()==''"></app-admin-home>
      <app-admin-home *ngIf="selectedComponentService.getSelectedComponent()=='AdminHomeComponent'"></app-admin-home>
      <app-list-departments *ngIf="selectedComponentService.getSelectedComponent()=='ListDepartmentsComponent'"></app-list-departments>
      <app-list-properties *ngIf="selectedComponentService.getSelectedComponent()=='ListPropertiesComponent'"></app-list-properties>
      <app-list-employees *ngIf="selectedComponentService.getSelectedComponent()=='ListEmployeesComponent'"></app-list-employees>
      <app-list-managers *ngIf="selectedComponentService.getSelectedComponent()=='ListManagersComponent'"></app-list-managers>
      <app-list-clients *ngIf="selectedComponentService.getSelectedComponent()=='ListClientsComponent'"></app-list-clients>
      <app-list-feedbacks *ngIf="selectedComponentService.getSelectedComponent()=='ListFeedbacksComponent'"></app-list-feedbacks>
    </mat-drawer-content>
  </mat-drawer-container>

      
