<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Feedbacks</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center"> 

        <div class="feedback-container">
            <div class="feedback-card" *ngFor="let feedback of feedbacks">
              <div class="feedback-header">
                <img class="avatar" [src]="feedback.user.picture" alt="User Avatar">
                <div class="user-info">
                  <h3>{{ feedback.user.firstname }} {{ feedback.user.lastname }}</h3>
                  <p>{{ feedback.ticket.description }}</p>
                </div>
              </div>
              <div class="feedback-content">
                <p>{{ feedback.feedbackdesc }}</p>
              </div>
            </div>
        </div>  


      </div>
    </div>

