<!-- <table>
    <tr>
      <th>Employee ID</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>Department </th>
    </tr>
    <tr *ngFor="let emp of employee">
      <td>{{ emp.empid }}</td>
      <td>{{ emp.user.firstname }}</td>
      <td>{{ emp.user.lastname }}</td>
      <td>{{ emp.user.emailid }}</td>
      <td>{{ emp.user.phoneno }}</td>
      <td>{{ emp.user.picture }}</td>
      <td>{{ emp.department.deptname }}</td>
    </tr>
  </table>
   -->
<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Employees
      <button mat-raised-button (click)="openAddEmp()">Add Employee</button>
    </div>
    
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
   
            <div class="parent-container">
                <div class="employee-container">
                    <div *ngFor="let emp of employee" >
                        <mat-card class="employee-card" mat-elevation-z8>
                            <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>{{ emp.user.firstname }} {{ emp.user.lastname }}</mat-card-title>
                                <mat-card-subtitle>{{ emp.department.deptname }}</mat-card-subtitle>
                                <img mat-card-md-image src="{{ emp.user.picture }}"   alt="Employee Avatar">
                            </mat-card-title-group>
                            </mat-card-header>
                            <mat-card-content>
                                <p>Employee ID: {{ emp.empid }}</p>
                                <p>Email: {{ emp.user.emailid }}</p>
                                <p>Phone: {{ emp.user.phoneno }}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-icon-button color="primary" (click)="openUpdateEmp(emp.empid)"><mat-icon>edit</mat-icon></button>
                                <button mat-icon-button color="warn" (click)="deleteEmp(emp.empid)"><mat-icon>delete</mat-icon></button>
                                <!-- <button mat-button>Edit</button>
                                <button mat-button>Delete</button> -->
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
  
