
<header>
  <a href="#" class="logo"><img src="assets\images\logo-solutionNinjas.png" alt="logo"></a>
  <div  id="menu-icon" class="menu-icon"><i class='bx bx-menu'></i></div>

  <ul class="navbar">
    <li><a href="#home">Home</a></li>
    <li><a href="#shop">Users</a></li>
    <li><a href="#delivery">Features</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li> 
  </ul>
</header>
<section class="home" id="home">
  <div class="home-text">
    <span>Welcome To</span>
    <h1>Solution Ninjas</h1>
    <h2>Unlock smooth event management<br> with our ticketing solution.</h2>
    <input type="checkbox"> As Employee
    <a href=""  class="btn">LOGIN WITH <asl-google-signin-button class="btn"></asl-google-signin-button>
    </a>
    
  </div>
    <div class="home-img">
      <img src="assets\images\logo-solutionNinjas.png">
    </div>
</section>

<section class="shop" id="shop">
  <div class="heading">
    <span>Explore</span>
    <h1>Solution Ninjas</h1>
  </div>
  <div class="shop-container">
    <div class="box">
      <div class="box-img">
        <img src="../../../assets/images/admin.png">
      </div>
      
      <span>Admin</span>
      <h2>Maintain System</h2>
    </div>

    <div class="box">
      <div class="box-img">
        <img src="../../../assets/images/dept.png">
      </div>
      <span>Department</span>
      <h2>Employees Schedular Manager</h2>
    </div>

    <div class="box">
      <div class="box-img">
        <img src="../../../assets/images/client.jpg">
      </div>

      <span>Customer</span>
      <h2>Ticket Creator</h2>
    </div>
  </div>
</section>

<section class="delivery" id="delivery">
  <div class="heading">
    <span>Features</span>
    <h1>"admin"</h1>
  </div>
  <div class="container">
    <div class="delivery-img">
      <img src="../../../assets/images/adminDash.png">
    </div>
    <div class="delivery-text"><br/><br/><br/><br/>
      <p>➔Generate  time/status/department/manager/user oriented reports <br/><br/>
 
        ➔Provide support desk for client  <br/><br/>
        
        ➔Search any keyword to view any profile  <br/><br/>
        
        ➔Add/Update/Delete Departments/Properties/Users/Employees</p>
    </div>
  </div>
</section>

<section class="delivery" id="delivery">
  <div class="heading">
    <span>Features</span>
    <h1>"client"</h1>
  </div>
  <div class="container">
  <div class="delivery-text"><br/><br/><br/><br/>
    <p>➔Create/raised new ticket <br/><br/>

      ➔Upload the images inside the ticket <br/><br/>
      
      ➔Track the ticket progress <br/><br/>
      
      ➔Cancel/modify the ticket if it has not been assigned yet <br/><br/>
      
      ➔Reach to support desk for any queries (mail to admin)</p>
  </div>
    <div class="delivery-img">
      <img src="../../../assets/images/clientDash.png">
    </div> 
  </div>
</section>

<section class="delivery" id="delivery">
  <div class="heading">
    <span>Features</span>
    <h1>"department"</h1>
  </div>
  <div class="container">
    <div class="delivery-img">
      <img src="../../../assets/images/empDash.png">
    </div>
    <div class="delivery-text">
      <p>
        <b>Employee</b> <br/>
                ➔Assign ticket to himself  <br/>

                ➔View the list of all raised tickets and show who assigned to it. <br/>

                ➔Solve the ticket and Modify/change the status of ticket accordingly <br/><br/>

        <b>Manager</b> <br/>
                ➔Check for tickets which are stuck for long time. <br/>

                ➔Check for tickets which are not picked by anyone for long time. <br/>
                
                ➔Assign those Tickets to department employees. <br/>
                
                ➔Assign ticket according to employee's work load. <br/><br/>

        <b>Scheduler</b><br/>
                ➔Define list of departments required to solve the ticket. <br/>

                ➔Decides the priority of those department. <br/>
                
                ➔Provides work description for each department. <br/>
                
                ➔Provides estimate time required for each department to complete the ticket.
      </p>
    </div>
  </div>
</section>

<section class="about" id="about">
  <div class="about-img">
    <img src="../../../assets/images/firstimg.png">
  </div>
  <div class="about-text">
    <h1>ABOUT US</h1>
    <p class="sub-heading"> Solution Ninjas is an application which is a software program that a customer & support team uses to create, 
       manage and maintain a of customer ticket. </p><br/>
       <p>
       • Solution Ninjas is a type of ticketing system to create, manage and report on queries and complaints for a Housing Estate. <br/><br/>
       • It is a software platform designed to manage and track customer support requests. <br/><br/>
       • It streamlines the process of resolving customer issues, making it easier for businesses to provide fast and effective support.<br/><br/>
       • The issue regarding the property log by the customer is called as a ticket.  <br/><br/>
       • Ticket can be then solved by the employees of departments</p>
  </div>
</section>

<section class="contact" id="contact">
  <div class="social">
    <a href="#"><i class="bx bxl-facebook"></i></a>
    <a href="#"><i class="bx bxl-twitter"></i></a>
    <a href="#"><i class="bx bxl-instagram"></i></a>
    <a href="#"><i class="bx bxl-youtube"></i></a>
  </div>
  <div class="links">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms Of Use</a>
    <a href="#">Our Company</a>
  </div>
</section>