
<header>
  <a href="#" class="logo"><img src="assets\images\logo-solutionNinjas.png" alt="logo"></a>
  <div  id="menu-icon" class="menu-icon"><i class='bx bx-menu'></i></div>

  <ul class="navbar">
    <li><a href="#home">Home</a></li>
    <li><a href="#shop">Shop</a></li>
    <li><a href="#delivery">Delivery</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</header>

<!--Home-->
<section class="home" id="home">
  <div class="home-text">
    <span>Welcome To</span>
    <h1>Solution Ninjas</h1>
    <h2>Unlock smooth event management with our ticketing solution.</h2>
    <a href="#" class="btn">Join Now</a>
  </div>
    <div class="home-img">
      <img src="assets/images/banner4.jpg">
    </div>
</section>

<section class="shop" id="shop">
  <div class="heading">
    <span>Explore</span>
    <h1>Solution Ninjas</h1>
  </div>
  <div class="shop-container">
    <div class="box">
      <div class="box-img">
        <img src="assets/images/banner4.jpg">
      </div>
      <h2>Users</h2>
      <span>Admin</span>
      <a href="#" class="btn">Login NOw</a>
    </div>

    <div class="box">
      <div class="box-img">
        <img src="assets/images/banner4.jpg">
      </div>
      <h2>Users</h2>
      <span>Admin</span>
      <a href="#" class="btn">Login NOw</a>
    </div>

    <div class="box">
      <div class="box-img">
        <img src="assets/images/banner4.jpg">
      </div>
      <h2>Users</h2>
      <span>Admin</span>
      <a href="#" class="btn">Login NOw</a>
    </div>
  </div>
</section>

<section class="delivery" id="delivery">
  <div class="heading">
    <span>Features</span>
    <h1>"admin"</h1>
  </div>
  <div class="container">
    <div class="delivery-img">
      <img src="assets/images/banner4.jpg">
    </div>
    <div class="delivery-text">
      <h2>Admin</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, non aliquam officiis saepe eum quisquam perferendis maiores veniam accusamus deserunt repellendus labore, ut possimus laudantium ratione, id perspiciatis modi quasi!</p>
    </div>
  </div>
</section>

<section class="delivery" id="delivery">
  <div class="heading">
    <span>Features</span>
    <h1>"client"</h1>
  </div>
  <div class="container">
  <div class="delivery-text">
    <h2>Admin</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, non aliquam officiis saepe eum quisquam perferendis maiores veniam accusamus deserunt repellendus labore, ut possimus laudantium ratione, id perspiciatis modi quasi!</p>
  </div>
    <div class="delivery-img">
      <img src="assets/images/banner4.jpg">
    </div> 
  </div>
</section>

<section class="delivery" id="delivery">
  <div class="heading">
    <span>Features</span>
    <h1>"department"</h1>
  </div>
  <div class="container">
    <div class="delivery-img">
      <img src="assets/images/banner4.jpg">
    </div>
    <div class="delivery-text">
      <h2>Admin</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, non aliquam officiis saepe eum quisquam perferendis maiores veniam accusamus deserunt repellendus labore, ut possimus laudantium ratione, id perspiciatis modi quasi!</p>
    </div>
  </div>
</section>

<section class="about" id="about">
  <div class="about-img">
    <img src="assets/images/banner4.jpg">
  </div>
  <div class="about-text">
    <h2>Admin</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, non aliquam officiis saepe eum quisquam perferendis maiores veniam accusamus deserunt repellendus labore, ut possimus laudantium ratione, id perspiciatis modi quasi!</p>
  </div>
</section>

<section class="contact" id="contact">
  <div class="social">
    <a href="#"><i class="bx bxl-facebook"></i></a>
    <a href="#"><i class="bx bxl-twitter"></i></a>
    <a href="#"><i class="bx bxl-instagram"></i></a>
    <a href="#"><i class="bx bxl-youtube"></i></a>
  </div>
  <div class="links">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms Of Use</a>
    <a href="#">Our Company</a>
  </div>
</section>