<mat-nav-list>
  <div class="logo py-4"  style="height: 150px; width: 150px;">
    <a href="index.html"><img src="../../../assets/images/LOGOFINAL.png" alt="Company Logo" /></a> 
  </div>
  <br/><br/><br/>
  <mat-divider></mat-divider><br/>

  <a mat-list-item routerLinkActive="list-item-active" (click)="selectComponent('ListDepartmentsComponent')">
    <mat-icon>account_balance</mat-icon> Departments
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="selectComponent('ListEmployeesComponent')"> 
    <mat-icon>person</mat-icon> Employees 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="selectComponent('ListClientsComponent')"> 
    <mat-icon>group</mat-icon> Clients </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="selectComponent('ListPropertiesComponent')"> 
    <mat-icon>apartment</mat-icon> Properties 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="selectComponent('ListManagersComponent')"> 
    <mat-icon>manage_accounts</mat-icon> Managers 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="selectComponent('ListTicketsComponent')"> 
    <mat-icon>confirmation_number</mat-icon> Tickets 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="selectComponent('ListFeedbacksComponent')"> 
    <mat-icon>feedback</mat-icon> Feedbacks 
  </a>
</mat-nav-list>