
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <app-manager-menu></app-manager-menu>>
    </mat-drawer>
    <mat-drawer-content>
      <app-header2 (toggleSidebarForMe)="sideBarToggler()"></app-header2>
      <ng-container #componentContainer></ng-container>
      <app-manager-home *ngIf="selectedComponentService.getSelectedComponent()==''"></app-manager-home>
      <app-manager-home *ngIf="selectedComponentService.getSelectedComponent()=='ManagerHomeComponent'"></app-manager-home>
    </mat-drawer-content>
  </mat-drawer-container>
  
      
  