<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2" style="display:flex; justify-content: space-between;">Client Dashboard
      <button mat-raised-button (click)="openAddTicket()">Create Ticket</button>
    </div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute">

        <br/>
      <ng-container *ngIf="tickets && tickets.length > 0; else noTickets">
         <div class="ticket-container">
          <div *ngFor="let ticket of tickets" class="ticket">
            <div class="ticket-left-line"></div>
            <div class="ticket-icon">
              <mat-icon>confirmation_number</mat-icon>
            </div>
            <div class="ticket-details">
              <h3 class="ticket-title">Ticket #{{ticket.ticketid}}</h3>
              <p class="ticket-description"><b>{{ticket.description}}</b></p>
              <div class="ticket-info">
                <div class="ticket-status">
                  <button mat-raised-button class="status-button status-new" *ngIf="ticket.status.status === 'New'">New</button>
                  <button mat-raised-button class="status-button status-picked" *ngIf="ticket.status.status === 'Picked'">Picked</button>
                  <button mat-raised-button class="status-button status-inprocess" *ngIf="ticket.status.status === 'In-process'">In-process</button>
                  <button mat-raised-button class="status-button status-completed" *ngIf="ticket.status.status === 'Completed'">Completed</button>

                </div>
                <!-- <span class="ticket-status"> 
                  <span *ngIf="ticket.status.status === 'New'" class="status-new">{{ticket.status.status}}</span>
                  <span *ngIf="ticket.status.status === 'Picked'" class="status-picked">{{ticket.status.status}}</span>
                  <span *ngIf="ticket.status.status === 'In-process'" class="status-inprocess">{{ticket.status.status}}</span>
                  <span *ngIf="ticket.status.status === 'Completed'" class="status-completed">{{ticket.status.status}}</span>
                </span> -->
                <span class="ticket-date">Created: {{ticket.ticketdate | date:'MMM d, yyyy'}}</span> &nbsp;&nbsp;
                <span class="ticket-date">Last Updated: {{ticket.lastmodified | date:'MMM d, yyyy'}}</span>
              </div>
            </div>
            <div class="ticket-images">
              <div *ngFor="let image of ticketImages[ticket.ticketid]" class="ticket-image">
                <img [src]="'http://localhost:8080/uploads/' + image.imagename" [alt]="image.imagename" class="image-thumbnail">
              </div>
            </div>
            <div class="ticket-actions">
              <button mat-raised-button class="close-button">Track</button>
            </div>
            <div class="ticket-priority"></div>
            
          </div>
        </div>
      </ng-container>
      
      <ng-template #noTickets>
        You don't have any tickets yet.
      </ng-template>

        <!-- kmdwkwqmddl -->
      </div>
    </div>
  </div>
  