<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Departments
    <button mat-raised-button (click)="openAddDept()">Add Department</button>
  </div>
  
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">              
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <div class="table-container" style="max-height: 248px; overflow-x: auto;">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="deptname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Name</b> </th>
            <td mat-cell *matCellDef="let row"> {{row.deptname}} </td>
          </ng-container>
      
          <ng-container matColumnDef="deptdesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Description</b> </th>
            <td mat-cell *matCellDef="let row"> {{row.deptdesc}} </td>
          </ng-container>
      
          <ng-container matColumnDef="lastmodified">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Last Modified</b> </th>
            <td mat-cell *matCellDef="let row"> {{row.lastmodified | date}} </td>
          </ng-container>
    
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef><b>Actions</b></th>
            <td mat-cell class="actionCol" *matCellDef="let row"> 
              <button mat-icon-button color="primary" (click)="openUpdateDept(row.deptid)"><mat-icon>edit</mat-icon></button>
              <!-- <button mat-icon-button color="warn" (click)="deleteDept(row.deptid)"><mat-icon>delete</mat-icon></button> -->
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
