<mat-nav-list>
  <div class="logo py-4"  style="height: 150px; width: 150px;">
    <a href="index.html"><img src="../../../assets/images/logo.png" alt="Company Logo" /></a> 
  </div>
  <br/><br/><br/>
  <mat-divider></mat-divider><br/>
  <a mat-list-item (click)="selectComponent('EmployeeHomeComponent')">
    <mat-icon>confirmation_number</mat-icon> Department Tickets
  </a>
  <a mat-list-item (click)="selectComponent('AssignToMeComponent')">
      <mat-icon>assignment</mat-icon> Assigned to me 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="selectComponent('DepartmentDetailsComponent')">
    <mat-icon>account_balance</mat-icon> About Department
  </a>
  <a mat-list-item href="mailto:{{ manager[0].user.emailid }}">
    <mat-icon>contact_mail</mat-icon>Contact Manager
  </a>
</mat-nav-list>
