<div class="container">
  <br/>
  <div mat-dialog-title>
    <h2>Edit Department</h2>
  </div>
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Department Name</mat-label>
        <input matInput type="text" [(ngModel)]="department.deptname">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="department.deptdesc"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-close class="action">
    <button mat-raised-button>Cancel</button> &nbsp;
    <button mat-raised-button color="primary" (click)="updateDept()">Update</button>
  </div>
  <br/>
</div>