.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .checkmark {
    width: 52px;
    height: 52px;
  }
  
  .checkmark__circle {
    stroke: green;
    stroke-width: 2;
    stroke-miterlimit: 10;
    animation: circleAnimation 0.3s ease-in-out forwards;
  }
  
  .checkmark__check {
    stroke: green;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    animation: checkAnimation 0.3s ease-in-out 0.3s forwards;
  }
  
  @keyframes circleAnimation {
    0% {
      stroke-dasharray: 166;
      stroke-dashoffset: 166;
    }
    100% {
      stroke-dasharray: 166;
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes checkAnimation {
    0% {
      stroke-dasharray: 48;
      stroke-dashoffset: 48;
    }
    100% {
      stroke-dasharray: 48;
      stroke-dashoffset: 0;
    }
  }
.button-container{
    display: flex;
    justify-content: center;
}  