/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~boxicons/css/boxicons.min.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap"); */

/* body {
  font-family: "Roboto", sans-serif;
}

html, body { height: 100%; }

 */
 .mylogo{
  height: 150px;
  width: 150px;
}
.mat-list-item {
    color: #ffffff !important; 
  }

  
/* body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
} */
