<mat-nav-list>
    <div class="logo py-4">
      <img src="../../../assets/images/logo.png" alt="Company Logo" />
    </div>
    <br/><br/><br/>
    <mat-divider></mat-divider><br/>
    <!-- <a mat-list-item (click)="selectComponent('SchedulerHomeComponent')">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a> -->
    <a mat-list-item (click)="selectComponent('SchedulerHomeComponent')">
      <mat-icon>confirmation_number</mat-icon> Tickets
    </a>
    <!-- <a mat-list-item> <mat-icon>refresh</mat-icon> Workflows</a>     -->
  </mat-nav-list>