.subtask-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .department-dropdown {
    margin-right: 10px;
  }
  
  .description-input {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .add-button {
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: -20px;
    cursor: pointer;
  }
.outer{
    padding: 30px 70px;
}  

.task-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.task-card {
  margin: 10px;
  /* width: 250px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  text-align: left; /* Align text to the left */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.custom-card {
  background-color: #f5f5f5;
}

.task-avatar {
  width: 64px;
  height: 64px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 50%;
}

.mat-card-title {
  font-weight: bold;
  font-size: 18px; /* Increase the font size to your desired size */
  margin-top: 12px; /* Increase the margin top to your desired spacing */
  color: #333;
 }
 .mat-card-subtitle {
  font-size: 14px; /* Increase the font size to your desired size */
  margin-top: 4px; /* Increase the margin top to your desired spacing */
  color: #777; /* Set a lighter text color */
}

.serial-number {
  width: 30px;
  height: 30px;
  background-color: #f9a825;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.action{
  display: flex;
  justify-content: right;
  margin-top: 10px;
}
