<mat-nav-list>
  <div class="logo py-4" style="height: 150px; width: 150px;">
    <a href="index.html"><img src="../../../assets/images/logo.png" alt="Company Logo" /></a> 
  </div>
  <br/><br/><br/>
  <mat-divider></mat-divider><br/>
  <a mat-list-item (click)="selectComponent('ClientHomeComponent','all')">
    <mat-icon>confirmation_number</mat-icon> All Tickets
  </a>
  <a mat-list-item (click)="selectComponent('ClientHomeComponent','new')">
    <mat-icon>fiber_new</mat-icon> Tickets
  </a>
  <a mat-list-item (click)="selectComponent('ClientHomeComponent','in-progress')">
    <mat-icon>refresh</mat-icon> In-progress
  </a>
  <a mat-list-item (click)="selectComponent('ClientHomeComponent','completed')">
    <mat-icon>check_circle</mat-icon> Completed
  </a>
</mat-nav-list>